/* Estilos generales */
*{
    margin-top: 10px;
}

h1{
    color: blue;
}

.p-c-a{
    font-size: 20px;
    font-weight: bold;
}

/* Estilo imagenes */
.logo-header{
    width: 100px;
    height: 100px;
}

.img-punto-banner{
    width: 500px;
    height: 300px;
}

/* Estilo tablas */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }